<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form method="POST">
            {% csrf_token %}
            <label for="tp">Topic</label>
            <select name="tp" id="tp">
            {% for x in TO %}
                    <option value="{{x}}">{{x.topic_name}}</option> 
            {% endfor %}
            </select>
            <br><br>
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
            <br><br>
            <label for="url">URL</label>
            <input type="url" name="url" id="url">
            <br><br>
            <label for="email">email</label>
            <input type="email" name="email" id="email">
            <br><br>

            <input type="submit" value="Insert">
        </form>
    </center>
    
</body>
</html>